In [151]:
import pandas as pd
import numpy as np

In [152]:
#Load File from CVS File
school_load_csv_df = pd.read_csv('raw_data/schools_complete.csv')
student_load_csv_df = pd.read_csv('raw_data/students_complete.csv')

In [153]:
school_student_data_merge = pd.merge(school_load_csv_df,student_load_csv_df, how="left", on=["school_name", "school_name"])
school_student_data_merge

,School ID,school_name,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [154]:
#**District Summary**
#* Create a high level snapshot (in table form) of the district's key metrics
#Total school Count 
total_School_count = school_load_csv_df["School ID"].count()               
total_School_count

15

In [155]:
#Total Students
total_students_Count = student_load_csv_df["Student ID"].count()
total_students_Count

39170

In [156]:
#Total Budget Sum

total_budget = school_load_csv_df["budget"].sum()
total_budget

24649428

In [157]:
# Calculate the Average Scores
#Average Math Score
#Average Reading Score
#Passing Math
#Passing Reading
#Overall Passing Rate (Average of the above two)
average_math_score = school_student_data_merge["math_score"].mean()
average_reading_score = school_student_data_merge["reading_score"].mean()

passing_math_count = school_student_data_merge[(student_load_csv_df["math_score"] > 70)].count()["Student ID"]
passing_math_percentage =  passing_math_count / float(total_students_Count) * 100

In [158]:
passing_reading_count = school_student_data_merge[(student_load_csv_df["reading_score"] > 70)].count()["Student ID"]
passing_reading_percentage = passing_reading_count / float(total_students_Count) * 100
passing_reading_percentage

82.97166198621395

In [159]:
overall_passing_rate = (average_math_score + average_reading_score) / 2
overall_passing_rate

80.43160582078121

In [160]:
#Table format district's key metrics
district_summary = pd.DataFrame({"Total Schools": [total_School_count], 
                                 "Total Students": [total_students_Count], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing Rate": [overall_passing_rate]})



district_summary = district_summary[["Total Schools", "Total Students", "Total Budget",
                                     "Average Math Score", 
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing Rate"]]
schools[['school', 'type']].set_index('school')['type']
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

NameError: name 'schools' is not defined

In [161]:
#**School Summary**
school_type = school_student_data_merge[['school_name', 'type']].set_index('school_name')['type']
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [162]:
#Total Students per school 
students_per_school=school_student_data_merge.groupby('school_name')['Student ID'].count()
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [163]:
#Total School Budget
budget_per_school = school_load_csv_df.groupby('school_name')['budget'].mean()
budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [164]:
#Per Student Budget
per_student_budget = budget_per_school / students_per_school
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [165]:
#Average Math Score
average_math_score=school_student_data_merge.groupby('school_name')['math_score'].mean()
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [166]:
#Average Reading Score
average_reading_score=school_student_data_merge.groupby('school_name')['reading_score'].mean()
average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [167]:
#% Passing Math Note Passing >= 70% 
count_math_pass=(school_student_data_merge[school_student_data_merge['math_score'] >= 70]).groupby('school_name')['Student ID'].count()
passing_math_perc=(count_math_pass/students_per_school)*100
passing_math_perc

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [168]:
#% Passing Reading Note Passing >= 70% 
count_reading_pass=(school_student_data_merge[school_student_data_merge['reading_score'] >= 70]).groupby('school_name')['Student ID'].count()
passing_reading_perc=(count_reading_pass/students_per_school)*100
passing_reading_perc

overall_passing_rate = (passing_math_perc + passing_reading_perc) / 2

In [169]:
# Convert to data frame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": students_per_school,
                                   "Total School Budget": budget_per_school,
                                   "Per Student Budget": per_student_budget,
                                   "Average Math Score": average_math_score,
                                   "Average Reading Score": average_reading_score,
                                   "% Passing Math": passing_math_perc,
                                   "% Passing Reading": passing_reading_perc,
                                   "% Overall Passing Rate": overall_passing_rate})

# Minor data munging
per_school_summary = per_school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                         "Average Math Score", "Average Reading Score", 
                                         "% Passing Math", "% Passing Reading", 
                                         "% Overall Passing Rate"]]

per_school_summary["Total School Budget"] = per_school_summary["Total Students"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$4,976.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,858.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$2,949.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$2,739.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$1,468.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,"$4,635.00",$652.00,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,$427.00,$581.00,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,"$2,917.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$4,761.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,$962.00,$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,"$3,999.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,"$1,761.00",$600.00,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,"$1,635.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,"$2,283.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,"$1,800.00",$583.00,83.682222,83.955000,93.333333,96.611111,94.972222

In [170]:
#Top Performing Schools (By Passing Rate)
#* Create a table that highlights the top 5 performing schools based on Overall Passing Rate. 
Top_performing_schools=per_school_summary.sort_values('% Overall Passing Rate', ascending=0).head(5)
Top_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,"$1,858.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,"$1,635.00",$638.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,$962.00,$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,"$1,468.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,"$2,283.00",$578.00,83.274201,83.989488,93.867718,96.539641,95.203679

In [171]:
#Bottom Performing Schools (By Passing Rate)
#* Create a table that highlights the top 5 performing schools based on Overall Passing Rate. 
Bottom_performing_schools=per_school_summary.sort_values('% Overall Passing Rate', ascending=1).head(5)
Bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$3,999.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$2,949.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$2,917.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$4,761.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$2,739.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

In [172]:
#Math Scores by Grade
# * Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
nineth_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "9th")]
tenth_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "10th")]
eleventh_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "11th")]
twelfth_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "12th")]

# Group each by school name
nineth_graders_scores = nineth_graders_ds.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders_ds.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders_ds.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders_ds.groupby(["school_name"]).mean()["math_score"]


scores_by_grade = pd.DataFrame({"9th": nineth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})


scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the data frame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [176]:
#Reading Scores by Grade
# * Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
nineth_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "9th")]
tenth_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "10th")]
eleventh_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "11th")]
twelfth_graders_ds = school_student_data_merge[(school_student_data_merge["grade"] == "12th")]

# Group each by school name
nineth_graders_scores = nineth_graders_ds.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders_ds.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders_ds.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders_ds.groupby(["school_name"]).mean()["reading_score"]


scores_by_grade = pd.DataFrame({"9th": nineth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})


scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the data frame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [177]:
#**Scores by School Spending**
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. 
per_school_summary['Per Student Budget'].min(), per_school_summary['Per Student Budget'].max()

('$578.00', '$655.00')

In [188]:
# Establish the bins 
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Categorize the spending based on the bins
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_student_budget, spending_bins, labels=group_names)

spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_rate = (spending_math_scores + spending_reading_scores) / 2


spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores,
                                 "Average Reading Score": spending_reading_scores,
                                 "% Passing Math": spending_passing_math,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing Rate": overall_passing_rate})

spending_summary = spending_summary[["Average Math Score", 
                                     "Average Reading Score", 
                                     "% Passing Math", "% Passing Reading",
                                     "% Overall Passing Rate"]]


spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,83.694607
$585-615,83.599686,83.885211,94.230858,95.900287,83.742449
$615-645,79.079225,81.891436,75.668212,86.106569,80.485330
$645-675,76.997210,81.027843,66.164813,81.133951,79.012526

In [189]:
per_school_summary['Total Students'].min(),per_school_summary['Total Students'].max()

(427, 4976)

In [190]:


bins=[0,1800,2500,10000]
group=['Small', 'Medium', 'Large']
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins, labels=group)


size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_rate = (size_passing_math + size_passing_reading) / 2


size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})

size_summary = size_summary[["Average Math Score", 
                             "Average Reading Score", 
                             "% Passing Math", "% Passing Reading",
                             "% Overall Passing Rate"]]

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small,83.575787,83.867683,93.494241,96.518741,95.006491
Medium,83.168048,83.982634,94.000597,96.789734,95.395166
Large,76.956733,80.966636,66.548453,80.799062,73.673757

In [191]:
#Scores by School Type
#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).

type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
overall_passing_rate = (type_passing_math + type_passing_reading) / 2


type_summary = pd.DataFrame({"Average Math Score" : type_math_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})


type_summary = type_summary[["Average Math Score", 
                             "Average Reading Score",
                             "% Passing Math",
                             "% Passing Reading",
                             "% Overall Passing Rate"]]

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757

In [ ]:
#